[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pigpio = "*"
urllib3 = "*"

[dev-packages]
pylint = "*"
simple-http-server = "*"
Sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"

[packages.libsonyapi]
git = "https://github.com/obulka/libsonyapi.git"
editable = true
