[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pigpio = "*"
"rpi.gpio" = "*"
gpiozero = "*"

[dev-packages]
pylint = "*"
simple-http-server = "*"
Sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"
